<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UserFax</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static',filename='style.css')}}"
        />
    </head>
    <body>
        <h1>UserFax</h1>
        {% for fact in facts %}
        <p>{{fact.fact}} <br /><b>- Submitted by: {{fact.submitter}}</b></p>
        {% endfor %}
        <hr />
        <a href="/pets/">Back to Pets</a> |
        <a href="/facts/new">Add a new fact</a>
    </body>
</html>
